.box {
    width: 800px;
    height: 400px;
    background-color: hsl(0, 0%, 95%);
}

.cardSedans, .cardSuvs, .cardLuxury {
    width: 200px;
    height: 300px;
    display: inline-block;
}

div {
    color: hsl(0, 0%, 95%);
}

.textos {
    margin: 5px;
    align-items: center;
}

.botao {
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

.cardSedans .botao {
    color: hsl(31, 77%, 52%);
}

.cardSuvs .botao {
    color: hsl(184, 100%, 22%);
}

.cardLuxury .botao {
    color: hsl(179, 100%, 13%);
}

h4 {
    text-transform: uppercase;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

p {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 15px;
}

.cardSedans {
    background: hsl(31, 77%, 52%);
    padding: 10px 10px;
}

.cardSuvs {
    background: hsl(184, 100%, 22%);
    padding: 10px 10px;
}

.cardLuxury {
    background: hsl(179, 100%, 13%);
    padding: 10px 10px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 858px){
    .box {
        display: grid;
        flex-direction: column;
    }

    .cardSedans, .cardSuvs, .cardLuxury {
        height: 270px;
        margin: 5px;
    }
}
