.box {
    width: 800px;
    height: 400px;
    background-color: #FFFFFF;
}

.cardSedans, .cardSuvs, .cardLuxury {
    width: 200px;
    height: 400px;
    display: inline-block;
}

div {
    color: white;
}

.textos {
    margin: 5px;
    align-items: center;
}

.botao {
    margin: 5px;
}

div h4 {
    text-transform: uppercase;
}

.cardSedans {
    background: #D2691E;
}

.cardSuvs {
    background: #4169E1;
}

.cardLuxury {
    background: #191970;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 858px){
    .box {
        display: grid;
        flex-direction: column;
    }

    .cardSedans, .cardSuvs, .cardLuxury {
        height: 270px;
        margin: 5px;
    }
}
